:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 17px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

/* //   .spacer {
//     flex: 1;
//   }

//   .toolbar {
//     height: 100px;
//     margin: -8px;
//     display: flex;
//     align-items: center;
//     background-color: #1976d2;
//     color: white;
//     font-weight: 600;
//   }

//   .toolbar .main-header {
//     margin: 0 auto;
//     width: 77%;
//   }

//   .toolbar img {
//     margin: 0 16px;
//   }

//   .toolbar #twitter-logo {
//     height: 40px;
//     margin: 0 16px;
//   }

//   .toolbar #twitter-logo:hover {
//     opacity: 0.8;
//   }

//   .content {
//     display: flex;
//     margin: 32px auto;
//     padding: 0 16px;
//     max-width: 960px;
//     flex-direction: column;
//     align-items: center;
//   }

//   svg.material-icons {
//     height: 24px;
//     width: auto;
//   }

//   svg.material-icons:not(:last-child) {
//     margin-right: 8px;
//   }

//   .card svg.material-icons path {
//     fill: #888;
//   } */

/* .heading { */
  /* background-image:
linear-gradient(to bottom, transparent, rgba(255, 255, 255)),
url("/assets/childfam1.jpg"); */
  /* // background-image: url("/assets/childfam1.jpg"); */
  /* width: 100%; */
  /* height: 100vh; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* // background-color: linear-gradient(transparent, #fff); */
/* } */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: transparent;
}

.logo {
  cursor: pointer;
}

.nav__links a,
.signup,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  /* // color: #0088a9; */
  color: #F38181;
}

.signup {
  padding: 9px 25px;
  /* // background-color: rgba(0, 136, 169, 1); */
  background-color: rgb(243, 129, 129);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.signup:hover {
  /* // background-color: rgba(0, 136, 169, 0.8); */
  background-color: rgb(243, 129, 129, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

.side-box {
  width: 535px;
  height: 290px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.side-box-text {
  text-align: center;
  color: #fff;
  width: 410px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 300px;
}

.search-box {
  width: 535px;
  height: 70px;
  background-color: #fff;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .navinks,
  .signup {
    display: none;
  }
  .menu {
    display: initial;
  }
}
